extends layout

block content
  div.container
    div.row
      div.col-md-12
        form.well.signup(action="/users/signup", method="POST")
          | Email
          input(type="text", name="email")
          | Pass
          input(type="password", name="password")
          input(type="submit")
